<div class="wrapper">
    <nav id="sidebar">

        <ul class="list-unstyled components">

            <li>
                <a href="/dashboard">
                    <i class="fas fa-tachometer-alt"></i>&nbsp;&nbsp;Dashboard
                </a>
            </li>

            <li>
                <a href="/update">
                    <i class="fas fa-sync-alt"></i>&nbsp;&nbsp;Update
                </a>
            </li>

            <li>
                <a href="/product/new">
                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add New Product
                </a>
            </li>

            <li>
                <a href="/product/search">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;Search Product
                </a>
            </li>

            <li>
                
                <div class="dropdown">
                    <a href="#walmartSubmenu" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fab fa-wikipedia-w"></i>&nbsp;&nbsp;Walmart
                    </a>
                    <ul class="dropdown-menu" id="walmartSubmenu">
                        <li>
                            <a href="/product/instock">
                                <i class="fas fa-arrow-circle-up"></i>&nbsp;&nbsp;In Stock
                            </a>
                        </li>
                        <li>
                            <a href="/product/outofstock">
                                <i class="fas fa-arrow-circle-down"></i>&nbsp;&nbsp;Out Of Stock
                            </a>
                        </li>
                        <li>
                            <a href="/product/pricechanged">
                                <i class="fas fa-dollar-sign"></i>&nbsp;&nbsp;Price Changed
                            </a>
                        </li>
                        <li>
                            <a href="/product/backinstock">
                                <i class="fas fa-backward"></i>&nbsp;&nbsp;back In Stock
                            </a>
                        </li>
                    </ul>
                </div>

            </li>

            <li>

                <div class="dropdown">
                    <a href="#userSubmenu" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>&nbsp;&nbsp;Users
                    </a>
                    <ul class="dropdown-menu" id="userSubmenu">
                        <li>
                            <a href="/signup">
                                <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add New User
                            </a>
                        </li>
                        <li>
                            <a href="/users/all">
                                <i class="fas fa-eye"></i>&nbsp;&nbsp;View Users
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>